# Creating DataFrames

In [1]:
import pandas as pd

In [3]:
fuel = pd.read_csv('data/data/fuel.csv', low_memory=False)

In [4]:
fuel.head()

,Vehicle ID,Year,Make,Model,Class,Drive,Transmission,Transmission Descriptor,Engine Index,Engine Descriptor,...,Hours to Charge (AC 240V),Composite City MPG,Composite Highway MPG,Composite Combined MPG,Range (FT1),City Range (FT1),Highway Range (FT1),Range (FT2),City Range (FT2),Highway Range (FT2)
0,26587,1984,Alfa Romeo,GT V6 2.5,Minicompact Cars,NaN,Manual 5-Speed,NaN,9001.0,(FFS),...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN,0.0,0.0
1,27705,1984,Alfa Romeo,GT V6 2.5,Minicompact Cars,NaN,Manual 5-Speed,NaN,9005.0,(FFS) CA model,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN,0.0,0.0
2,26561,1984,Alfa Romeo,Spider Veloce 2000,Two Seaters,NaN,Manual 5-Speed,NaN,9002.0,(FFS),...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN,0.0,0.0
3,27681,1984,Alfa Romeo,Spider Veloce 2000,Two Seaters,NaN,Manual 5-Speed,NaN,9006.0,(FFS) CA model,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN,0.0,0.0
4,27550,1984,AM General,DJ Po Vehicle 2WD,Special Purpose Vehicle 2WD,2-Wheel Drive,Automatic 3-Speed,NaN,1830.0,(FFS),...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN,0.0,0.0

In [5]:
fuel.head(10)

,Vehicle ID,Year,Make,Model,Class,Drive,Transmission,Transmission Descriptor,Engine Index,Engine Descriptor,...,Hours to Charge (AC 240V),Composite City MPG,Composite Highway MPG,Composite Combined MPG,Range (FT1),City Range (FT1),Highway Range (FT1),Range (FT2),City Range (FT2),Highway Range (FT2)
0,26587,1984,Alfa Romeo,GT V6 2.5,Minicompact Cars,NaN,Manual 5-Speed,NaN,9001.0,(FFS),...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN,0.0,0.0
1,27705,1984,Alfa Romeo,GT V6 2.5,Minicompact Cars,NaN,Manual 5-Speed,NaN,9005.0,(FFS) CA model,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN,0.0,0.0
2,26561,1984,Alfa Romeo,Spider Veloce 2000,Two Seaters,NaN,Manual 5-Speed,NaN,9002.0,(FFS),...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN,0.0,0.0
3,27681,1984,Alfa Romeo,Spider Veloce 2000,Two Seaters,NaN,Manual 5-Speed,NaN,9006.0,(FFS) CA model,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN,0.0,0.0
4,27550,1984,AM General,DJ Po Vehicle 2WD,Special Purpose Vehicle 2WD,2-Wheel Drive,Automatic 3-Speed,NaN,1830.0,(FFS),...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN,0.0,0.0
5,28426,1984,AM General,DJ Po Vehicle 2WD,Special Purpose Vehicle 2WD,2-Wheel Drive,Automatic 3-Speed,NaN,1880.0,(FFS) CA model,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN,0.0,0.0
6,27549,1984,AM General,FJ8c Post Office,Special Purpose Vehicle 2WD,2-Wheel Drive,Automatic 3-Speed,NaN,1831.0,(FFS),...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN,0.0,0.0
7,28425,1984,AM General,FJ8c Post Office,Special Purpose Vehicle 2WD,2-Wheel Drive,Automatic 3-Speed,NaN,1881.0,(FFS) CA model,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN,0.0,0.0
8,27593,1984,American Motors Corporation,Eagle 4WD,Special Purpose Vehicle 4WD,4-Wheel or All-Wheel Drive,Automatic 3-Speed,NaN,1524.0,(FFS),...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN,0.0,0.0
9,28455,1984,American Motors Corporation,Eagle 4WD,Special Purpose Vehicle 4WD,4-Wheel or All-Wheel Drive,Automatic 3-Speed,NaN,1574.0,(FFS) CA model,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN,0.0,0.0

In [7]:
fuel.tail()

,Vehicle ID,Year,Make,Model,Class,Drive,Transmission,Transmission Descriptor,Engine Index,Engine Descriptor,...,Hours to Charge (AC 240V),Composite City MPG,Composite Highway MPG,Composite Combined MPG,Range (FT1),City Range (FT1),Highway Range (FT1),Range (FT2),City Range (FT2),Highway Range (FT2)
31679,32060,2012,Mitsubishi,Lancer,Compact Cars,Front-Wheel Drive,Manual 5-Speed,NaN,113.0,NaN,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN,0.0,0.0
31680,32063,2012,Mitsubishi,Lancer AWD,Compact Cars,All-Wheel Drive,Auto(AV-S6),NaN,116.0,NaN,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN,0.0,0.0
31681,32065,2012,Mitsubishi,Lancer Evolution,Compact Cars,All-Wheel Drive,Auto(AM6),NaN,132.0,NaN,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN,0.0,0.0
31682,32064,2012,Mitsubishi,Lancer Evolution,Compact Cars,All-Wheel Drive,Manual 5-Speed,NaN,131.0,NaN,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN,0.0,0.0
31683,32106,2012,Mitsubish,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [8]:
fuel.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 31684 entries, 0 to 31683
Data columns (total 81 columns):
 #   Column                               Non-Null Count  Dtype
---  ------                               --------------  -----
 0   Vehicle ID                           31684 non-null  int64
 1   Year                                 31684 non-null  int64
 2   Make                                 31684 non-null  object
 3   Model                                31683 non-null  object
 4   Class                                31683 non-null  object
 5   Drive                                30494 non-null  object
 6   Transmission                         31672 non-null  object
 7   Transmission Descriptor              15045 non-null  object
 8   Engine Index                         31683 non-null  float64
 9   Engine Descriptor                    18667 non-null  object
 10  Engine Cylinders                     31647 non-null  float64
 11  Engine Displacement                  31648 non-null  float64
 12  Turbocharger                         2997 non-null   object
 13  Supercharger                         400 non-null    object
 14  Fuel Type                            31683 non-null  object
 15  Fuel Type 1                          31683 non-null  object
 16  Fuel Type 2                          829 non-null    object
 17  City MPG (FT1)                       31683 non-null  float64
 18  Unrounded City MPG (FT1)             31683 non-null  float64
 19  City MPG (FT2)                       31683 non-null  float64
 20  Unrounded City MPG (FT2)             31683 non-null  float64
 21  City Gasoline Consumption (CD)       31683 non-null  float64
 22  City Electricity Consumption         31683 non-null  float64
 23  City Utility Factor                  31683 non-null  float64
 24  Highway MPG (FT1)                    31683 non-null  float64
 25  Unrounded Highway MPG (FT1)          31683 non-null  float64
 26  Highway MPG (FT2)                    31683 non-null  float64
 27  Unrounded Highway MPG (FT2)          31683 non-null  float64
 28  Highway Gasoline Consumption (CD)    31683 non-null  float64
 29  Highway Electricity Consumption      31683 non-null  float64
 30  Highway Utility Factor               31683 non-null  float64
 31  Unadjusted City MPG (FT1)            31683 non-null  float64
 32  Unadjusted Highway MPG (FT1)         31683 non-null  float64
 33  Unadjusted City MPG (FT2)            31683 non-null  float64
 34  Unadjusted Highway MPG (FT2)         31683 non-null  float64
 35  Combined MPG (FT1)                   31683 non-null  float64
 36  Unrounded Combined MPG (FT1)         31683 non-null  float64
 37  Combined MPG (FT2)                   31683 non-null  float64
 38  Unrounded Combined MPG (FT2)         31683 non-null  float64
 39  Combined Electricity Consumption     31683 non-null  float64
 40  Combined Gasoline Consumption (CD)   31683 non-null  float64
 41  Combined Utility Factor              31683 non-null  float64
 42  Annual Fuel Cost (FT1)               31683 non-null  float64
 43  Annual Fuel Cost (FT2)               31683 non-null  float64
 44  Gas Guzzler Tax                      1888 non-null   object
 45  Save or Spend (5 Year)               31683 non-null  float64
 46  Annual Consumption in Barrels (FT1)  31683 non-null  float64
 47  Annual Consumption in Barrels (FT2)  31683 non-null  float64
 48  Tailpipe CO2 (FT1)                   31683 non-null  float64
 49  Tailpipe CO2 in Grams/Mile (FT1)     31683 non-null  float64
 50  Tailpipe CO2 (FT2)                   31683 non-null  float64
 51  Tailpipe CO2 in Grams/Mile (FT2)     31683 non-null  float64
 52  Fuel Economy Score                   31683 non-null  float64
 53  GHG Score                            31683 non-null  float64
 54  GHG Score (Alt Fuel)                 31683 non-null  float64
 55  My MPG Data                          31683 non-null  object
 56  2D Passenger Volume                  31683 non-null  float64
 57  2D Luggage Volume                    31683 non-null  float64
 58  4D Passenger Volume                  31683 non-null  float64
 59  4D Luggage Volume                    31683 non-null  float64
 60  Hatchback Passenger Volume           31683 non-null  float64
 61  Hatchback Luggage Volume             31683 non-null  float64
 62  Start Stop Technology                310 non-null    object
 63  Alternative Fuel/Technology          2009 non-null   object
 64  Electric Motor                       197 non-null    object
 65  Manufacturer Code                    889 non-null    object
 66  Gasoline/Electricity Blended (CD)    31683 non-null  object
 67  Vehicle Charger                      0 non-null      float64
 68  Alternate Charger                    0 non-null      float64
 69  Hours to Charge (120V)               31683 non-null  float64
 70  Hours to Charge (240V)               31683 non-null  float64
 71  Hours to Charge (AC 240V)            31683 non-null  float64
 72  Composite City MPG                   31683 non-null  float64
 73  Composite Highway MPG                31683 non-null  float64
 74  Composite Combined MPG               31683 non-null  float64
 75  Range (FT1)                          31683 non-null  float64
 76  City Range (FT1)                     31683 non-null  float64
 77  Highway Range (FT1)                  31683 non-null  float64
 78  Range (FT2)                          824 non-null    object
 79  City Range (FT2)                     31683 non-null  float64
 80  Highway Range (FT2)                  31683 non-null  float64
dtypes: float64(59), int64(2), object(20)
memory usage: 19.6+ MB

In [9]:
fuel = pd.read_csv('data/data/fuel.csv', low_memory=False, usecols=[ 'Vehicle ID','Year','Make','Model','Class','Fuel Type','Combined MPG (FT1)'])
fuel.head()

,Vehicle ID,Year,Make,Model,Class,Fuel Type,Combined MPG (FT1)
0,26587,1984,Alfa Romeo,GT V6 2.5,Minicompact Cars,Regular,20.0
1,27705,1984,Alfa Romeo,GT V6 2.5,Minicompact Cars,Regular,20.0
2,26561,1984,Alfa Romeo,Spider Veloce 2000,Two Seaters,Regular,21.0
3,27681,1984,Alfa Romeo,Spider Veloce 2000,Two Seaters,Regular,21.0
4,27550,1984,AM General,DJ Po Vehicle 2WD,Special Purpose Vehicle 2WD,Regular,17.0

In [10]:
fuel = pd.read_csv('data/data/fuel.csv', low_memory=False, usecols=[ 'Vehicle ID','Year','Make','Model','Class','Fuel Type','Combined MPG (FT1)'],index_col='Vehicle ID')
fuel.head()

,Year,Make,Model,Class,Fuel Type,Combined MPG (FT1)
Vehicle ID,,,,,,
26587,1984,Alfa Romeo,GT V6 2.5,Minicompact Cars,Regular,20.0
27705,1984,Alfa Romeo,GT V6 2.5,Minicompact Cars,Regular,20.0
26561,1984,Alfa Romeo,Spider Veloce 2000,Two Seaters,Regular,21.0
27681,1984,Alfa Romeo,Spider Veloce 2000,Two Seaters,Regular,21.0
27550,1984,AM General,DJ Po Vehicle 2WD,Special Purpose Vehicle 2WD,Regular,17.0

In [13]:
fuel.dtypes.value_counts()

object     4
int64      1
float64    1
Name: count, dtype: int64

# Data Frame methods

In [14]:
fuel = pd.read_csv('data/data/fuel.csv', low_memory=False, usecols=[ 'Vehicle ID','Year','Make','Model','Class','Fuel Type','Combined MPG (FT1)'],index_col='Vehicle ID')
fuel.head()

,Year,Make,Model,Class,Fuel Type,Combined MPG (FT1)
Vehicle ID,,,,,,
26587,1984,Alfa Romeo,GT V6 2.5,Minicompact Cars,Regular,20.0
27705,1984,Alfa Romeo,GT V6 2.5,Minicompact Cars,Regular,20.0
26561,1984,Alfa Romeo,Spider Veloce 2000,Two Seaters,Regular,21.0
27681,1984,Alfa Romeo,Spider Veloce 2000,Two Seaters,Regular,21.0
27550,1984,AM General,DJ Po Vehicle 2WD,Special Purpose Vehicle 2WD,Regular,17.0

In [15]:
fuel.info()

<class 'pandas.core.frame.DataFrame'>
Index: 31684 entries, 26587 to 32106
Data columns (total 6 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Year                31684 non-null  int64
 1   Make                31684 non-null  object
 2   Model               31683 non-null  object
 3   Class               31683 non-null  object
 4   Fuel Type           31683 non-null  object
 5   Combined MPG (FT1)  31683 non-null  float64
dtypes: float64(1), int64(1), object(4)
memory usage: 1.7+ MB

In [16]:
fuel.dtypes

Year                    int64
Make                   object
Model                  object
Class                  object
Fuel Type              object
Combined MPG (FT1)    float64
dtype: object

In [17]:
fuel.dtypes.value_counts()

object     4
int64      1
float64    1
Name: count, dtype: int64

In [19]:
fuel['Make'].value_counts()

Make
Chevrolet             3389
Ford                  2721
Dodge                 2361
GMC                   2174
Toyota                1599
                      ...
BYD                      1
CODA Automotive          1
Fisker                   1
McLaren Automotive       1
Mitsubish                1
Name: count, Length: 128, dtype: int64

In [20]:
fuel.index

Index([26587, 27705, 26561, 27681, 27550, 28426, 27549, 28425, 27593, 28455,
       ...
       31673, 32062, 32059, 32061, 32058, 32060, 32063, 32065, 32064, 32106],
      dtype='int64', name='Vehicle ID', length=31684)

In [21]:
fuel.columns

Index(['Year', 'Make', 'Model', 'Class', 'Fuel Type', 'Combined MPG (FT1)'], dtype='object')

In [22]:
fuel.values

array([[1984, 'Alfa Romeo', 'GT V6 2.5', 'Minicompact Cars', 'Regular',
        20.0],
       [1984, 'Alfa Romeo', 'GT V6 2.5', 'Minicompact Cars', 'Regular',
        20.0],
       [1984, 'Alfa Romeo', 'Spider Veloce 2000', 'Two Seaters',
        'Regular', 21.0],
       ...,
       [2012, 'Mitsubishi', 'Lancer Evolution', 'Compact Cars',
        'Premium', 19.0],
       [2012, 'Mitsubishi', 'Lancer Evolution', 'Compact Cars',
        'Premium', 19.0],
       [2012, 'Mitsubish', nan, nan, nan, nan]],
      shape=(31684, 6), dtype=object)

In [23]:
fuel.axes

[Index([26587, 27705, 26561, 27681, 27550, 28426, 27549, 28425, 27593, 28455,
        ...
        31673, 32062, 32059, 32061, 32058, 32060, 32063, 32065, 32064, 32106],
       dtype='int64', name='Vehicle ID', length=31684),
 Index(['Year', 'Make', 'Model', 'Class', 'Fuel Type', 'Combined MPG (FT1)'], dtype='object')]

In [24]:
fuel.shape

(31684, 6)

In [25]:
fuel.count()

Year                  31684
Make                  31684
Model                 31683
Class                 31683
Fuel Type             31683
Combined MPG (FT1)    31683
dtype: int64

In [26]:
len(fuel)

31684